@media screen and (max-width:770px){
    header{
        font-size:21px;
    }
    .section-1 div{
        width:78%;
        margin:234px 0px 0px 31px;
    }
    .section-1 div>p:first-child {
        font-size:21px;
    }
    .section-1 p {
        font-size:60px;
    }
    /* section-2 */
    .feature_boxes{
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin-left:27px;
    }
    .feature_box{
        width:80%;
        height:200px;
    }
    .feature_box i {
        height:80px;
        width:80px;
        font-size:62px;
    }
    .feature_box h4 {
        font-size:20px;
    }
    .feature_box p{
        font-size:16px;
    }
    /* section-3 */
    .section-3{
        background-image: linear-gradient(rgba(28, 26, 26, 0.7), rgba(255, 255, 255, 0.2)),url('/IMAGES/02_IMacWorkSpace2_Mockupsforfree.jpg');
        height: 100vh;
        background-position: 73%;
        zoom: 106%
    }
    .section-3-left{
        display:none;
    }
    .section-3-right{
        background-color: unset;
        width:100%;
    }
    .part-1{
        width:90%;
        margin:50px 0px 0px 12px;
        background-color:white;
        opacity:0.8;
    }
    .part-1 p:first-child{
        font-size:18px;
    }
    .part-1 h5{
        font-size:23px;
    }
    .part-1 p{
        font-size:13px;
        opacity:1;
    }
    .part-2{
        display:flex;
        width:100%;
        margin: 23px 0px 0px -11px;
    }
    .part{
        width:55%;
        padding:4%;
        opacity:0.8;
        margin:4%;
    }
    .part h6{
        font-size:16px;
    }
    .part p{
        font-size:11px;
    }
    /* section-4 */
    .section-4{
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr ;
        height:110vh;
    }
    .section-4 div{
        width:100%;
        height:310px;
        margin:0%;
    }
    .section-4 img{
        width:100%;
    }
    .desc p:first-child{
        font-size:23px;
    }
    .desc h5{
        font-size:19px;
    }
    .desc p,h6{font-size:17px;}
    .desc > *{padding: 1px 50px 0px 30px;}
    /* section-5 */
    .section-5{
        height:130vh;
    }
    .image-section{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr ;
        align-content: center;
        position:relative;
        margin:54px 0px 0px 40px;
    }
    /* section-6 */
    .section-6{
        height:60vh;
    }
    .section-6-left p{
        color:red;
        font-size:14px;
        margin:10px;
        padding:86px 0px 0px 66px;
    }
    /* section-7 */
    .section-7{
        width:100%;
        height:80vh;
        background-image:linear-gradient(rgba(28, 26, 26, 0.9), rgba(255, 255, 255, 0.9)),url('/IMAGES/71ropHPoRUL.jpg');
        zoom:100%;
        opacity:1;
        background-repeat: no-repeat;
        align-items: center;
    }
    .section-7-left{
        display:none;
    }
    .section-7-right{
        width:80%;
        height:90%;
        margin-left:40px;
    }
    .section-7-top_part{padding:12px;}
    .section-7-top_part h6{width:300px;}
    .section-7-top_part p{font-size:24px}
    .section-7-top_part h6{font-size:24px}
    .container{
        margin:0px;
    }
    /* section-8 */
    .section-8 .block{
        height: 215px;
        width:70%;
    }
    /* section-9 */
    .section-9{
        height:60vh;
    }
    .section-9{
        height:auto;
        background-color: black;
    }
    iframe{
        padding:37px 59px 0px 0px;
        width:300px;
        height:300px;
    }
    .map{
        background-color: black;
    }

}